body {
    background: #FAFAFA;
    font-family: "Roboto";
    font-size: 14px;
}

.topo {
    width: 100%;
    background: #FFFFFF;   
    border-bottom: 1px #DBDBDB solid;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

/*caixinha de pesquisa*/
.topo input {
    background: #FAFAFA;
    border: 1px #DBDBDB solid;
    border-radius: 3px;
    height: 28px;
    width: 215px;
    text-align: center;
}

.container-topo {
    width: 935px;
    height: 54px;
    padding: 15px;
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
}

.topo-flex {
    display: flex;
    align-items: center;
}

.insta-icon { /*mudar*/
    font-size: 23px;
    margin: 0px 10px;
    border-right: 1px #DBDBDB solid;
    padding-right: 10px;
}

.pesquisar {
    border: none;
}

.caixa-logo img {
    margin-top: 18px;
    margin-left: 15px;
}

.container {
    display: flex;
    width: 935px;
    margin: 88px auto 0 auto;
    justify-content: space-between;
}

.caixa-stories {
    position: relative;
    height: 118px;
    width: 614px;
    background: #FFFFFF;
    border: 1px #DBDBDB solid;
    overflow: hidden;
    border-radius: 3px;
}

.story {
    display: flex;
}

.user-pic {
    height: 66px;
    width: 66px;
    margin: 18px 14px 34px 0px;
    background-image: url("imagens/stories_background.jpg");
    background-size: cover; /*scales the image*/
}

.user-pic:first-child{
    margin-left: 18px;
}


.lateral {
    width: 43px;
    text-align: right;
}

.caixa-user:first-child{
    margin-left: 11px;
}

.user-pic p {
    margin-top: 5px;
    color: #262626;  
    text-align: center;
}

.scroll {
    position: absolute;
    z-index: 2;
    top: 42px;
    right: 10px;
}

.margem {
    margin: 5px; 
}

.sidebar {
    width: 293px;
}

.profile {
    display: flex;
    margin-bottom: 24px ;
}

.perfis-sugeridos {
    display: flex;
}

.user {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.user-name {
    width: 182px;
    height: 34px;
    margin-top: 10px;
    margin-left: 17px;    

}

.user-sugestao {
    margin-top: 17px;
    margin-left: 3px;  
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.text {
    color: #139EF2;
}

h1 {
    font-weight: bold;
    color: #262626;  
    margin-bottom: 5px;  
}

h2 {
    color: #8E8E8E;     
}

.sugestao {
    margin: 0px 100px 17px 0px;
    color: #8E8E8E
}


.perfis-sugeridos img {
    width: 32px;
    height: 32px;
    margin: 17px 11px 0px 0px;
    border-radius: 50%;
}

.post {
    width: 614px;
    background: #FFFFFF;
    margin: 24px 0px 60px 0px;   
    border: 1px #DBDBDB solid;
    border-radius: 3px;
}

.perfil {
    display: flex;
    align-items: center;
    width: 614px;
    height: 61px;    
}

.perfil img {
    width: 32px;
    height: 32px;
    margin: 0px 15px 0px 17px;   
}


.points {
    margin: auto 15px auto auto;
}

.foto {
    height: 612px;
    width: 612px;
}

.icon {
    font-size: 24px;
    margin: 0px 5px;
}

.post-bottom {

}

.likes-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    margin: 0px 10px;
}

.comments {
    margin: 7px 17px;
    display: flex;
    justify-content: space-between;
}

.add-comment {
    display: flex;
    height: 45px;
    width: 612px;
    border: 1px #DBDBDB solid;
    align-items:center;
    justify-content: space-around;
}

.hora {
    color: #8E8E8E;   
    font-size: 12px; 
}

.publi {
    color: #139EF2;
    opacity: 0.6;
}

.publi:hover{
    opacity: 1; 
}

.text-box {
    outline: none;
    border: none;
}

.curtida {
    height: 20px;
    margin: 0px 5px -3px 17px;
}

.bold {
    font-weight: bold;
}

/*layout mobile*/

@media (max-width: 935px) {
   
    .sidebar {
        display: none;
    }

    .container-topo {
        width: 100%;
    }

    .container {
        display: block;
        width: 100%;
        margin: 88px 0 0 0;
        background-color: red;
    }

    .caixa-stories {
        margin: 0 auto;          
    }

    .post {
        margin: 24px auto 60px auto;   
    }

}

@media (max-width: 614px) {

    .container {
        margin-top: 56px;
    }

    .caixa-stories {
        background: #FAFAFA;
        border: none;
        margin: 0;
        width: 614px;
    }

    .topo-flex {
        width: calc(50vw + 52px);
        justify-content: space-between;
    } 

    .insta-icon {
        border:none;
    }

    .perfil {
        width: 100%;  
    }

    .foto {
        width: 100%;  
    }

    .out {
        display: none;
    }

    .post-bottom {
        width: 100%;
    }
}